@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body{
    padding: null;
    margin: 0;
    background-color:#fbfbfb;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

a,p{
	text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color:#26272d;
}

h1,h2,h3,h4{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color:#26272d;
}

ul ,li{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

input,textarea {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color:#26272d;
	outline: none;
}

header{
    background-image: url("img/header/bacground_sky.png");
    background-position: center;
    background-size: cover;
    .navbar{
        #col_burger_menu{
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .burger_menu{
                width: 30px;
                height: 16px;
                position: relative;
                z-index:2;
                overflow: hidden;
                cursor: pointer !important;
                margin-right: 30px;
                span{
                    width: 100%;
                    height: 2.0px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: all 0.3s ease 0s;
                    background-color:#1b1c1e;
                }
    
                span:nth-of-type(2) {
                    top: calc(50% - 6px);
                }

                span:nth-of-type(3) {
                    top: calc(50% + 6px);
                }
       
            }

            .burger_menu.active {
                span:first-of-type{
                    transform: translateX(100%);
                }

                span:nth-of-type(2) {
                    top: 50%;
                    background-color:#b5b5b6;
                    transform: translate(-50%, -50%) rotate(45deg);
                }

                span:nth-of-type(3) {
                    top: 50%;
                    background-color:#b5b5b6;
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }

            .menu_left{
                transition: 0.3s;
                display: none;
                ul{
                    display: flex;
                    align-items: center;

                    li{
                        margin-right: 40px ;
                        a{
                            transition: 0.3s;
                        }

                        a:hover{
                            color:#b5b5b6;
                        }

                        a:active{
                            color:#b5b5b6;
                        }
                    }
                }
            }

            .menu_left.active{
                display: block;
            }
        }

        #logo_col{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #menu_right_col{
            display: flex;
            justify-content: flex-end;
            align-items: center;

            ul{
                display: flex;
                
                li{
                    margin-left: 40px;

                    a{
                        transition: 0.3s;
                    }

                    a:hover{
                        color:#b5b5b6;
                    }

                    a:active{
                        color:#b5b5b6;
                    }
                }
            }

            .menu_right_button{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 30px;
                width: 110px;
                height: 40px;
                border:none;
                border-radius: 30px;
                background-color:#267df4;
                transition: 0.5s;
            
                p{
                    margin: 0 0 0 10px;
                    color:#ffffff;
                }

                img{
                    margin: 0 0 3px;
                }
            }

            .menu_right_button:hover{
                background-color:#267cf4d7;
            }

            .menu_right_button:active{
                background-color:#267cf4d7;
            }
        }
    }

    .container-fluid.one{
        .row{
            display: flex;
            justify-content: center;
            margin-top: 120px;
            #header_content_col{
                display: flex ;
                text-align: center;
                align-items: center;
                flex-direction: column;
                justify-content: center;

                h1{
                    font-size: 50px;
                }

                p{
                    white-space: nowrap;
                    padding:40px 0 0 0;
                    color:#b5b5b6;
                }

                .header_content_button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 50px 0 50px;
                    width: 150px;
                    height: 45px;
                    border-radius: 30px;
                    border: 1px solid #dadada;
                    background-color:#eef0f3;
                    transition: 0.5s;
                    a{
                        width: 150px;
                        height: 45px;
                        position: absolute;
                    }
    
                    p{
                        padding: 0;
                        margin: 0 0 0 10px;
                        color:#26272d;
                    }

                }

                .header_content_button:hover{
                    background-color:#dadadae5;
                }

                .header_content_button:active{
                    background-color:#dadadae5;
                }
            }
        }
       
    }
}

section{
    #features_row{
        display: flex;
        justify-content: center;
        margin: 120px 0 300px ;
        .col-md-6{
            display: flex;
            flex-direction: column;
            padding-left: 100px;
            margin-top: 120px ;

            img{
                width: 40px;
                margin-bottom: 50px;
            }

            h3{
                color:#b5b5b6;
                padding-bottom: 50px;
            }

            p{
                color:#b5b5b6;
            }
        }
    }

    #iphone_featur_row{
        display: flex ;
        justify-content: flex-end;
        position: relative;
        margin: 0 0 300px;

        #background_img_iphone_6{
            position: absolute;
            left: 0;
            top:0;
            z-index: -2;
            width: 50%;
        }
        .col-md-6{
            display: flex;
            flex-direction: column;
            padding-left: 100px;

            h2{
                margin:  0 0 80px;
            }

            p{
                color:#b5b5b6;
                margin:  0 0 80px;
            }

            .button_area{
                display: flex;
                align-items:center;

                .buttone_one{
                    display: flex;
                    justify-content: center;
                    align-items:center;
                    margin: 0 30px 0 0;
                    background-color:#267df4;
                    border-radius: 30px;
                    width: 200px;
                    height: 40px;
                    transition: 0.5s;

                    p{
                        color:#ffffff;
                        margin: 0 50px 0 0;
                    }

                    a{
                        position: absolute;
                        width: 200px;
                        height: 30px;
                    }
                }

                .buttone_one:hover{
                    background-color:#eef0f3;
                    border: 1px solid #dadada;
                    p{
                        color:#26272d;
                    }

                    img{
                        filter: invert(1);
                    }
                }

                .buttone_one:active{
                    background-color:#eef0f3;
                    border: 1px solid #dadada;
                    p{
                        color:#26272d;
                    }

                    img{
                        filter: invert(1);
                    }
                }

                .buttone_two{
                    width: 150px;
                    height: 45px;
                    border-radius: 30px;
                    border: 1px solid #dadada;
                    background-color:#eef0f3;
                    color:#26272d;
                    transition: 0.5s;
                }

                .buttone_two:hover{
                    border:none;
                    background-color:#267df4;
                    color:#ffffff;
                }

                .buttone_two:active{
                    border:none;
                    background-color:#267df4;
                    color:#ffffff;
                }
            }
        }
    }

    #map_featur_row{
        position: relative;
        display: flex;
        align-items:center;
        margin: 0 0 300px;
        .col-md-6{
            display: flex;
            flex-direction: column;
            padding-left: 100px;

            h2{
                margin:  0 0 80px;
            }

            p{
                color:#b5b5b6;
                margin:  0 0 80px;
            }

            .patners_area{
                img{
                    margin: 0 30px 0 0;
                }
            }
        }

        #img_map{
            position: absolute;
            right: 0;
            width: 50%;
            z-index: -2;
        }
    }

    #iphone_screens_row_1{
        display: flex;
        justify-content: center;

        .col-md-6{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items:center;

            h2{
                padding: 0 0 25px;
            }

            span{
                width: 55px;
                height: 2px;
                background-color:#267df4;
                margin: 0 0 25px;
            }

            P{
                color:#b5b5b6;
                padding: 0 0 25px;
            }
        }
    }

    #iphone_screens_row_2{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 200px;
        
        .col-12{
            display: flex;
            justify-content: center;
            overflow-x: scroll;
            width: auto;
            
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                white-space: nowrap;
                margin: 0 60px 0 60px;
            }
    
            #iphone{
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 304px ;
                height: 621px;
                background-image:url('img/section/iPhone.png');
                background-position:center;
                background-size:cover;
              
                img{
                    box-shadow: none;
                }
            }
    
            .screenImg{
                width: 260px;
                height: 455px;
                transition: all ease 0.5s;
                box-shadow: 4px 4px 22px 0px rgba(34, 60, 80, 0.11);
     
            }
        }

        .col-12::-webkit-scrollbar {
            width: 0;
          }
    }

    #ready_to_buy_row{
        .col-md-12{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #send_id_col{
            margin: 40px 0 40px;
            .send_id{
                display: flex;
                border: 1px solid #b5b5b6;
                border-radius: 30px;
                padding: 7px;
                justify-content: space-between;
                width: 370px;
                

                input{
                    margin-left: 10px;
                    background-color:#fbfbfb;
                    border:none;
                }

                button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 150px;
                    height: 45px;
                    border-radius: 30px;
                    border:none;
                    background-color:#6fc754;
                    transition: 0.5s;
            
                    p{
                        padding: 0;
                        margin: 0 15px 0 0;
                        color:#ffffff;
                    }
                }

                button:hover{
                    background-color:#6fc754c4;
                }

                button:active{
                    background-color:#6fc754c4;
                }

            }
        }
    }

    #App_store_col{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h4{
            font-size: 14px;
            margin: 0 0 20px;
            color:#b5b5b6;
        }

        button{
            height: 54px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 20px 10px 20px;
            margin: 0 0 10px;
            border:none;
            border-radius: 30px;
            background-color:#26272d;
            transition: 0.5s;

            img{
                margin: 0 15px 0 0;
            }
            
            .text{
                display: flex;
                flex-direction: column;
                p,h3{
                    color:#ffffff;
                    margin: 0;
                }
    
                p{
                    font-size: 10px;
                }
                
                h3{
                    font-size: 16px;
                }
            }
        }

        button:hover{
            background-color:#fbfbfb;
            border:  1px solid #26272d;
            img{
                transition: 0.5s;
                filter: invert(1);
            }

            .text{
                p,h3{
                    color:#26272d;
                }
            }
        }

        button:active{
            background-color:#fbfbfb;;
            border:  1px solid #26272d;
            img{
                transition: 0.5s;
                filter: invert(1);
            }

            .text{
                p,h3{
                    color:#26272d;
                }
            }
        }
    }

    #custumers_row{
        #custumers_img_col{
            height: 136px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 300px;

            #row_left,#row_right{
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;
                border:none;
                background-color:#fbfbfb;
            }

            #row_right:hover{
               img{
                   transition: 0.5s;
                   opacity: 0.5;
               }
            }

            #row_right:active{
                img{
                    transition: 0.5s;
                    opacity: 0.5;
                }
             }

            #row_left:active{
                img{
                    transition: 0.5s;
                    opacity: 0.5;
                }
            }

            .sliders{
                display: flex;
    
                .slide{
                    display: flex;
                    align-items:center;
                
                    img{
                        opacity: 0.2;
                        width: 110px;
                        margin: 0 60px 0 60px;
                        transition: 0.5s;
                    }
                }

                .slide.main{
                    img{
                        opacity: 1;
                        width: 150px;
                        transition: 0.5s;
                        filter: drop-shadow(19px 8px  6px rgba(34, 60, 80, 0.082));
                    }
                }
            }
        }

        #fedbacke_col{
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-top: 60px;

            p{
                font-size: 30px;
                margin-bottom: 40px;
            }

            h3{
                margin-bottom: 30px;
                font-size: 16px;
                color:#b5b5b6;
            }

            h4{
                font-size: 12px;
            }
        }
    }

    #plan_row{
        margin: 300px 0 300px;

        #plan_col{
            display: flex;
            flex-direction: column;

            h1{
                margin: 0 0 80px;
            }

            .area_button{
                display: flex;
                flex-direction: column;
                h1{
                    font-size: 14px;
                    margin: 0 0 10px;
                }
            }

            h3{
                font-size: 20px;
                color:#b5b5b6;
            }

            P{
                margin: 40px 0 0 ;
                color:#b5b5b6;

                a{
                    color:#267df4;
                }
            }
        }

        #card_col{
            display: flex;
            justify-content: center;
            align-items: center;
            height:560px;

            .card1,.card2{
                width: 341px;
                display: flex;
                align-items:center;
                justify-content: center;
                flex-direction: column;
                border-radius:20px;
                text-align: center;
                transition: 0.7s;

                h1{
                    font-size: 27px;
                    font-weight: 400;
                }

                button{
                    width: 65px;
                    height: 27px;
                    border-radius: 40px;
                    background-color:none;
                    border: 1px solid #b5b5b6;
                    margin: 31px 0 80px;
                    padding: 0;
                    transition: 0.7s;
                    p{
                        font-size: 14px;
                        margin: 0;
                        padding: 0;
                    }
                }

                h3{
                    font-size: 20px;
                    color: #b5b5b6;
                    margin: 0 0 50px;
                }

                h4{
                    font-size: 14px;
                }
            }

            .card1,.card2.active{
                background-color:#ffffff;
                box-shadow: 13px 10px 33px 3px rgba(34, 60, 80, 0.14);
                height: 550px;
                z-index: 5;

                button{
                    background-color:#ffffff;
                }
            }
        
            .card1.unactive,.card2{
                background-color:#ebebed;
                box-shadow:none;
                height: 500px;

                button{
                    background-color: #ebebed;
                }
            }

        }
    }
}

footer{
    #suscribe_row{
        .col-md-12{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #send_id_col{
            margin: 40px 0 40px;
            .send_id{
                display: flex;
                border: 1px solid #b5b5b6;
                border-radius: 30px;
                padding: 7px;
                justify-content: space-between;
                width: 370px;
                

                input{
                    margin-left: 10px;
                    background-color:#fbfbfb;
                    border:none;
                }

                button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 150px;
                    height: 45px;
                    border-radius: 30px;
                    border:none;
                    background-color:#6fc754;
                    transition: 0.5s;
            
                    p{
                        padding: 0;
                        margin: 0 15px 0 0;
                        color:#ffffff;
                    }
                }

                button:hover{
                    background-color:#6fc754c4;
                }

                button:active{
                    background-color:#6fc754c4;
                }

            }
        }
    }

    #footer_menu_row{
        margin:150px 0 150px;
        .col-md-6{
            display: flex;
            flex-direction: column;

            .logo{
                width: 140px;
            }

            h3{
                margin:40px 0 30px;
                font-size: 16px;
                color:#b5b5b6;
            }

            button{
                height: 54px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px 20px 10px 20px;
                margin: 0 0 30px;
                border:none;
                border-radius: 10px;
                background-color:#26272d;
                transition: 0.5s;

                img{
                    margin: 0 15px 0 0;
                }
                
                .text{
                    display: flex;
                    flex-direction: column;
                    p,h3{
                        color:#ffffff;
                        margin: 0;
                    }
        
                    p{
                        font-size: 10px;
                    }
                    
                    h3{
                        font-size: 16px;
                    }
                }
            }

            button:hover{
                background-color:#fbfbfb;
                border:  1px solid #26272d;
                img{
                    transition: 0.5s;
                    filter: invert(1);
                }
    
                .text{
                    p,h3{
                        color:#26272d;
                    }
                }
            }

            button:active{
                background-color:#fbfbfb;
                border: 1px solid #26272d;
                img{
                    transition: 0.5s;
                    filter: invert(1);
                }
    
                .text{
                    p,h3{
                        color:#26272d;
                    }
                }
            }

            ul{
                display: flex;
                li{
                    transition: 0.5s;
                    margin-right:30px ;
                }

                li:hover{
                    opacity: 0.7;
                }

                li:active{
                    opacity: 0.7;
                }
            }
        }

        .col-md-2{
            display: flex;
            flex-direction: column;

            h3{
                color: #26272d;
                font-size: 15px;
            }

            ul{
                display: flex;
                flex-direction: column;

                li{
                    margin-bottom: 20px;
                    a{
                        transition: 0.5s;
                        font-size: 16px;
                        color:#b5b5b6;
                    }

                    a:hover{
                        color: #26272d;;
                    }
    
                    a:active{
                        color: #26272d;;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    #card_col{
        .card1,.card2{
            button{
                margin: 31px 0 60px !important;
            }
        }
        .card1,.card2.active{
                height: 480px !important;
        }

        .card1.unactive,.card2{
            height: 430px !important;
        }
    }
}

@media screen and (max-width: 1000px){
    #custumers_img_col{
        .slide{
            img{
                margin: 0 40px 0 40px !important;
            }
        }
    }
}

@media screen and (max-width: 992px){

    .menu_right_button
    {
        width: 40px !important;
        height: 40px !important;
        p{
            display: none !important;
        }
    }

    #features_row{
        .col-md-6{
            padding: 0px !important;
        }
    }
    
    #iphone_featur_row{
        display: flex !important;
        justify-content: center !important;
        align-items:center !important;
        #background_img_iphone_6{
            display: none !important;
        }
        .col-md-6{
            padding: 0px !important;
        }
    }
    
    #map_featur_row{
        display: flex !important;
        justify-content: center !important;
        align-items:center !important;
        #img_map{
            display: none !important;
        }

        .col-md-6{
            padding: 0px !important;
        }
    }

}