@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
body {
  padding: null;
  margin: 0;
  background-color: #fbfbfb;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

a, p {
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: #26272d;
}

h1, h2, h3, h4 {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  color: #26272d;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

input, textarea {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: #26272d;
  outline: none;
}

header {
  background-image: url("img/header/bacground_sky.png");
  background-position: center;
  background-size: cover;
}

header .navbar #col_burger_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar #col_burger_menu .burger_menu {
  width: 30px;
  height: 16px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  cursor: pointer !important;
  margin-right: 30px;
}

header .navbar #col_burger_menu .burger_menu span {
  width: 100%;
  height: 2.0px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #1b1c1e;
}

header .navbar #col_burger_menu .burger_menu span:nth-of-type(2) {
  top: calc(50% - 6px);
}

header .navbar #col_burger_menu .burger_menu span:nth-of-type(3) {
  top: calc(50% + 6px);
}

header .navbar #col_burger_menu .burger_menu.active span:first-of-type {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

header .navbar #col_burger_menu .burger_menu.active span:nth-of-type(2) {
  top: 50%;
  background-color: #b5b5b6;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

header .navbar #col_burger_menu .burger_menu.active span:nth-of-type(3) {
  top: 50%;
  background-color: #b5b5b6;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

header .navbar #col_burger_menu .menu_left {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: none;
}

header .navbar #col_burger_menu .menu_left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar #col_burger_menu .menu_left ul li {
  margin-right: 40px;
}

header .navbar #col_burger_menu .menu_left ul li a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .navbar #col_burger_menu .menu_left ul li a:hover {
  color: #b5b5b6;
}

header .navbar #col_burger_menu .menu_left ul li a:active {
  color: #b5b5b6;
}

header .navbar #col_burger_menu .menu_left.active {
  display: block;
}

header .navbar #logo_col {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar #menu_right_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar #menu_right_col ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navbar #menu_right_col ul li {
  margin-left: 40px;
}

header .navbar #menu_right_col ul li a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .navbar #menu_right_col ul li a:hover {
  color: #b5b5b6;
}

header .navbar #menu_right_col ul li a:active {
  color: #b5b5b6;
}

header .navbar #menu_right_col .menu_right_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
  width: 110px;
  height: 40px;
  border: none;
  border-radius: 30px;
  background-color: #267df4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .navbar #menu_right_col .menu_right_button p {
  margin: 0 0 0 10px;
  color: #ffffff;
}

header .navbar #menu_right_col .menu_right_button img {
  margin: 0 0 3px;
}

header .navbar #menu_right_col .menu_right_button:hover {
  background-color: #267cf4d7;
}

header .navbar #menu_right_col .menu_right_button:active {
  background-color: #267cf4d7;
}

header .navbar #menu2_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .navbar #menu2_col .menu2 {
  position: absolute;
  display: none;
  top: 40px;
}

header .navbar #menu2_col .menu2 li {
  margin: 0 30px 0 30px;
}

header .navbar #menu2_col .menu2 li a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .navbar #menu2_col .menu2 li a:hover {
  color: #b5b5b6;
}

header .navbar #menu2_col .menu2 li a:active {
  color: #b5b5b6;
}

header .navbar #menu2_col .menu2.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container-fluid.one .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 120px;
}

header .container-fluid.one .row #header_content_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .container-fluid.one .row #header_content_col h1 {
  font-size: 50px;
}

header .container-fluid.one .row #header_content_col p {
  padding: 40px 0 0 0;
  color: #b5b5b6;
}

header .container-fluid.one .row #header_content_col .header_content_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0 50px;
  width: 150px;
  height: 45px;
  border-radius: 30px;
  border: 1px solid #dadada;
  background-color: #eef0f3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .container-fluid.one .row #header_content_col .header_content_button a {
  width: 150px;
  height: 45px;
  position: absolute;
}

header .container-fluid.one .row #header_content_col .header_content_button p {
  padding: 0;
  margin: 0 0 0 10px;
  color: #26272d;
}

header .container-fluid.one .row #header_content_col .header_content_button:hover {
  background-color: #dadadae5;
}

header .container-fluid.one .row #header_content_col .header_content_button:active {
  background-color: #dadadae5;
}

section #features_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 90px 0 90px;
}

section #features_row .col-md-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 100px;
  margin-top: 120px;
}

section #features_row .col-md-6 img {
  width: 40px;
  margin-bottom: 50px;
}

section #features_row .col-md-6 h3 {
  color: #b5b5b6;
  padding-bottom: 50px;
}

section #features_row .col-md-6 p {
  color: #b5b5b6;
}

section #iphone_featur_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0 0 300px;
}

section #iphone_featur_row #background_img_iphone_6 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
  width: 50%;
}

section #iphone_featur_row #text_col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 100px;
}

section #iphone_featur_row #text_col1 h2 {
  margin: 0 0 80px;
}

section #iphone_featur_row #text_col1 p {
  color: #b5b5b6;
  margin: 0 0 80px;
}

section #iphone_featur_row #text_col1 .button_area {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section #iphone_featur_row #text_col1 .button_area .buttone_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30px 0 0;
  background-color: #267df4;
  border-radius: 30px;
  border: none;
  width: 200px;
  height: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section #iphone_featur_row #text_col1 .button_area .buttone_one p {
  color: #ffffff;
  margin: 0 50px 0 0;
}

section #iphone_featur_row #text_col1 .button_area .buttone_one a {
  position: absolute;
  width: 200px;
  height: 30px;
}

section #iphone_featur_row #text_col1 .button_area .buttone_one:hover {
  background-color: #eef0f3;
  border: 1px solid #dadada;
}

section #iphone_featur_row #text_col1 .button_area .buttone_one:hover p {
  color: #26272d;
}

section #iphone_featur_row #text_col1 .button_area .buttone_one:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

section #iphone_featur_row #text_col1 .button_area .buttone_one:active {
  background-color: #eef0f3;
  border: 1px solid #dadada;
}

section #iphone_featur_row #text_col1 .button_area .buttone_one:active p {
  color: #26272d;
}

section #iphone_featur_row #text_col1 .button_area .buttone_one:active img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

section #iphone_featur_row #text_col1 .button_area .buttone_two {
  width: 150px;
  height: 45px;
  border-radius: 30px;
  border: 1px solid #dadada;
  background-color: #eef0f3;
  color: #26272d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section #iphone_featur_row #text_col1 .button_area .buttone_two:hover {
  border: none;
  background-color: #267df4;
  color: #ffffff;
}

section #iphone_featur_row #text_col1 .button_area .buttone_two:active {
  border: none;
  background-color: #267df4;
  color: #ffffff;
}

section #iphone_featur_row #text_col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 100px;
  margin: 300px 0 0;
}

section #iphone_featur_row #text_col2 h2 {
  margin: 0 0 80px;
}

section #iphone_featur_row #text_col2 p {
  color: #b5b5b6;
  margin: 0 0 80px;
}

section #iphone_featur_row #text_col2 .patners_area {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section #iphone_featur_row #text_col2 .patners_area img {
  margin: 0 30px 0 0;
}

section #iphone_featur_row #img_map_col {
  margin: 300px 0 0;
}

section #iphone_featur_row #img_map {
  position: absolute;
  right: 0;
  width: 50%;
  z-index: -2;
}

section #iphone_screens_row_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section #iphone_screens_row_1 .col-md-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section #iphone_screens_row_1 .col-md-6 h2 {
  padding: 0 0 25px;
}

section #iphone_screens_row_1 .col-md-6 span {
  width: 55px;
  height: 2px;
  background-color: #267df4;
  margin: 0 0 25px;
}

section #iphone_screens_row_1 .col-md-6 P {
  color: #b5b5b6;
  padding: 0 0 25px;
}

section #iphone_screens_row_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 200px;
}

section #iphone_screens_row_2 .col-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: scroll;
  overflow: hidden;
  width: auto;
}

section #iphone_screens_row_2 .col-12 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  margin: 0 60px 0 60px;
}

section #iphone_screens_row_2 .col-12 #iphone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 304px;
  height: 621px;
  background-image: url("img/section/iPhone.png");
  background-position: center;
  background-size: cover;
}

section #iphone_screens_row_2 .col-12 #iphone img {
  -webkit-box-shadow: none;
          box-shadow: none;
}

section #iphone_screens_row_2 .col-12 .screenImg {
  width: 260px;
  height: 455px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-box-shadow: 4px 4px 22px 0px rgba(34, 60, 80, 0.11);
          box-shadow: 4px 4px 22px 0px rgba(34, 60, 80, 0.11);
}

section #iphone_screens_row_2 .col-12::-webkit-scrollbar {
  width: 0;
}

section #ready_to_buy_row .col-md-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section #ready_to_buy_row #send_id_col {
  margin: 40px 0 40px;
}

section #ready_to_buy_row #send_id_col .send_id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #b5b5b6;
  border-radius: 30px;
  padding: 7px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 370px;
}

section #ready_to_buy_row #send_id_col .send_id input {
  margin-left: 10px;
  background-color: #fbfbfb;
  border: none;
}

section #ready_to_buy_row #send_id_col .send_id button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 45px;
  border-radius: 30px;
  border: none;
  background-color: #6fc754;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section #ready_to_buy_row #send_id_col .send_id button p {
  padding: 0;
  margin: 0 15px 0 0;
  color: #ffffff;
}

section #ready_to_buy_row #send_id_col .send_id button:hover {
  background-color: #6fc754c4;
}

section #ready_to_buy_row #send_id_col .send_id button:active {
  background-color: #6fc754c4;
}

section #App_store_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section #App_store_col h4 {
  font-size: 14px;
  margin: 0 0 20px;
  color: #b5b5b6;
}

section #App_store_col button {
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 20px 10px 20px;
  margin: 0 0 10px;
  border: none;
  border-radius: 30px;
  background-color: #26272d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section #App_store_col button img {
  margin: 0 15px 0 0;
}

section #App_store_col button .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section #App_store_col button .text p, section #App_store_col button .text h3 {
  color: #ffffff;
  margin: 0;
}

section #App_store_col button .text p {
  font-size: 10px;
}

section #App_store_col button .text h3 {
  font-size: 16px;
}

section #App_store_col button:hover {
  background-color: #fbfbfb;
  border: 1px solid #26272d;
}

section #App_store_col button:hover img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: invert(1);
          filter: invert(1);
}

section #App_store_col button:hover .text p, section #App_store_col button:hover .text h3 {
  color: #26272d;
}

section #App_store_col button:active {
  background-color: #fbfbfb;
  border: 1px solid #26272d;
}

section #App_store_col button:active img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: invert(1);
          filter: invert(1);
}

section #App_store_col button:active .text p, section #App_store_col button:active .text h3 {
  color: #26272d;
}

section #custumers_row #custumers_img_col {
  height: 136px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 300px;
}

section #custumers_row #custumers_img_col #row_left, section #custumers_row #custumers_img_col #row_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background-color: #fbfbfb;
}

section #custumers_row #custumers_img_col #row_right:hover img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.5;
}

section #custumers_row #custumers_img_col #row_right:active img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.5;
}

section #custumers_row #custumers_img_col #row_left:active img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.5;
}

section #custumers_row #custumers_img_col .sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section #custumers_row #custumers_img_col .sliders .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section #custumers_row #custumers_img_col .sliders .slide img {
  opacity: 0.2;
  width: 110px;
  margin: 0 60px 0 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section #custumers_row #custumers_img_col .sliders .slide.main img {
  opacity: 1;
  width: 150px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: drop-shadow(19px 8px 6px rgba(34, 60, 80, 0.082));
          filter: drop-shadow(19px 8px 6px rgba(34, 60, 80, 0.082));
}

section #custumers_row #fedbacke_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 60px;
}

section #custumers_row #fedbacke_col p {
  font-size: 30px;
  margin-bottom: 40px;
}

section #custumers_row #fedbacke_col h3 {
  margin-bottom: 30px;
  font-size: 16px;
  color: #b5b5b6;
}

section #custumers_row #fedbacke_col h4 {
  font-size: 12px;
}

section #plan_row {
  margin: 300px 0 300px;
}

section #plan_row #plan_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section #plan_row #plan_col h1 {
  margin: 0 0 80px;
}

section #plan_row #plan_col .area_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section #plan_row #plan_col .area_button h1 {
  font-size: 14px;
  margin: 0 0 10px;
}

section #plan_row #plan_col h3 {
  font-size: 20px;
  color: #b5b5b6;
}

section #plan_row #plan_col P {
  margin: 40px 0 0;
  color: #b5b5b6;
}

section #plan_row #plan_col P a {
  color: #267df4;
}

section #plan_row #card_col {
  height: 560px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section #plan_row #card_col .card_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section #plan_row #card_col .card_area .card1, section #plan_row #card_col .card_area .card2 {
  width: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  text-align: center;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

section #plan_row #card_col .card_area .card1 h1, section #plan_row #card_col .card_area .card2 h1 {
  font-size: 27px;
  font-weight: 400;
}

section #plan_row #card_col .card_area .card1 button, section #plan_row #card_col .card_area .card2 button {
  width: 65px;
  height: 27px;
  border-radius: 40px;
  background-color: none;
  border: 1px solid #b5b5b6;
  margin: 31px 0 80px;
  padding: 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

section #plan_row #card_col .card_area .card1 button p, section #plan_row #card_col .card_area .card2 button p {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

section #plan_row #card_col .card_area .card1 h3, section #plan_row #card_col .card_area .card2 h3 {
  font-size: 20px;
  color: #b5b5b6;
  margin: 0 0 50px;
}

section #plan_row #card_col .card_area .card1 h4, section #plan_row #card_col .card_area .card2 h4 {
  font-size: 14px;
}

section #plan_row #card_col .card_area .card1, section #plan_row #card_col .card_area .card2.active {
  background-color: #ffffff;
  -webkit-box-shadow: 13px 10px 33px 3px rgba(34, 60, 80, 0.14);
          box-shadow: 13px 10px 33px 3px rgba(34, 60, 80, 0.14);
  height: 550px;
  z-index: 5;
}

section #plan_row #card_col .card_area .card1 button, section #plan_row #card_col .card_area .card2.active button {
  background-color: #ffffff;
}

section #plan_row #card_col .card_area .card1.unactive, section #plan_row #card_col .card_area .card2 {
  background-color: #ebebed;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 500px;
}

section #plan_row #card_col .card_area .card1.unactive button, section #plan_row #card_col .card_area .card2 button {
  background-color: #ebebed;
}

footer #suscribe_row .col-md-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #suscribe_row #send_id_col {
  margin: 40px 0 40px;
}

footer #suscribe_row #send_id_col .send_id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #b5b5b6;
  border-radius: 30px;
  padding: 7px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 370px;
}

footer #suscribe_row #send_id_col .send_id input {
  margin-left: 10px;
  background-color: #fbfbfb;
  border: none;
}

footer #suscribe_row #send_id_col .send_id button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 45px;
  border-radius: 30px;
  border: none;
  background-color: #6fc754;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer #suscribe_row #send_id_col .send_id button p {
  padding: 0;
  margin: 0 15px 0 0;
  color: #ffffff;
}

footer #suscribe_row #send_id_col .send_id button:hover {
  background-color: #6fc754c4;
}

footer #suscribe_row #send_id_col .send_id button:active {
  background-color: #6fc754c4;
}

footer #footer_menu_row {
  margin: 100px 0 50px;
}

footer #footer_menu_row .col-md-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer #footer_menu_row .col-md-6 .logo {
  width: 140px;
}

footer #footer_menu_row .col-md-6 h3 {
  margin: 40px 0 30px;
  font-size: 16px;
  color: #b5b5b6;
}

footer #footer_menu_row .col-md-6 button {
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 20px 10px 20px;
  margin: 0 0 30px;
  border: none;
  border-radius: 10px;
  background-color: #26272d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer #footer_menu_row .col-md-6 button img {
  margin: 0 15px 0 0;
}

footer #footer_menu_row .col-md-6 button .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer #footer_menu_row .col-md-6 button .text p, footer #footer_menu_row .col-md-6 button .text h3 {
  color: #ffffff;
  margin: 0;
}

footer #footer_menu_row .col-md-6 button .text p {
  font-size: 10px;
}

footer #footer_menu_row .col-md-6 button .text h3 {
  font-size: 16px;
}

footer #footer_menu_row .col-md-6 button:hover {
  background-color: #fbfbfb;
  border: 1px solid #26272d;
}

footer #footer_menu_row .col-md-6 button:hover img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: invert(1);
          filter: invert(1);
}

footer #footer_menu_row .col-md-6 button:hover .text p, footer #footer_menu_row .col-md-6 button:hover .text h3 {
  color: #26272d;
}

footer #footer_menu_row .col-md-6 button:active {
  background-color: #fbfbfb;
  border: 1px solid #26272d;
}

footer #footer_menu_row .col-md-6 button:active img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: invert(1);
          filter: invert(1);
}

footer #footer_menu_row .col-md-6 button:active .text p, footer #footer_menu_row .col-md-6 button:active .text h3 {
  color: #26272d;
}

footer #footer_menu_row .col-md-6 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer #footer_menu_row .col-md-6 ul li {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-right: 30px;
}

footer #footer_menu_row .col-md-6 ul li:hover {
  opacity: 0.7;
}

footer #footer_menu_row .col-md-6 ul li:active {
  opacity: 0.7;
}

footer #footer_menu_row .col-md-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

footer #footer_menu_row .col-md-2 h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #26272d;
  font-size: 15px;
}

footer #footer_menu_row .col-md-2 h3 img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  right: 20px;
  display: none;
  width: 15px;
  height: 15px;
  margin: 0 0 0 12px;
}

footer #footer_menu_row .col-md-2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer #footer_menu_row .col-md-2 ul li {
  margin-bottom: 20px;
}

footer #footer_menu_row .col-md-2 ul li a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 16px;
  color: #b5b5b6;
}

footer #footer_menu_row .col-md-2 ul li a:hover {
  color: #26272d;
}

footer #footer_menu_row .col-md-2 ul li a:active {
  color: #26272d;
}

footer #footer_menu_row #sub_col {
  display: none;
}

footer #footer_menu_row #sub_col ul li {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer #footer_menu_row #sub_col ul li:hover {
  opacity: 0.7;
}

footer #footer_menu_row #sub_col ul li:active {
  opacity: 0.7;
}

@media screen and (max-width: 1199px) {
  #card_col .card1 button, #card_col .card2 button {
    margin: 31px 0 60px !important;
  }
  #card_col .card1, #card_col .card2.active {
    height: 480px !important;
  }
  #card_col .card1.unactive, #card_col .card2 {
    height: 430px !important;
  }
}

@media screen and (max-width: 1000px) {
  #custumers_img_col .slide img {
    margin: 0 40px 0 40px !important;
  }
}

@media screen and (max-width: 991px) {
  .navbar {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .navbar #menu_right_col {
    display: none !important;
  }
  #features_row .col-md-6.one {
    padding: 0 20px 0 0 !important;
  }
  #features_row .col-md-6.two {
    padding: 0 0 0 20px !important;
  }
  #iphone_featur_row #background_img_iphone_6_col, #iphone_featur_row #img_map_col {
    display: none !important;
  }
  #iphone_featur_row #text_col2 {
    padding: 0 0 0 20px !important;
    margin: 0 !important;
  }
  #iphone_featur_row #text_col1 {
    padding: 0 20px 0 0 !important;
    margin: 0 !important;
  }
  #card_col .card1 h3, #card_col .card2 h3 {
    font-size: 15px !important;
    margin: 0 0 30px !important;
  }
  #card_col .card1 button, #card_col .card2 button {
    margin: 31px 0 40px !important;
  }
  #card_col .card1, #card_col .card2.active {
    height: 360px !important;
  }
  #card_col .card1.unactive, #card_col .card2 {
    height: 320px !important;
  }
}

@media screen and (max-width: 767px) {
  body.lock {
    overflow: hidden !important;
  }
  .navbar .col-md-12.active {
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: 100% !important;
    position: fixed !important;
    background-color: #fbfbfb;
  }
  .navbar .col-md-12.active .menu2.active {
    overflow: auto !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .navbar .col-md-12.active .menu2 {
    top: 25% !important;
  }
  .navbar .col-md-12.active .menu2 li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px 0 10px 0 !important;
  }
  .navbar .col-md-12.active .menu2 li a {
    font-size: 20px !important;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  #logo_col img {
    width: 135px !important;
  }
  #features_row .col-md-6.one {
    padding: 0 !important;
  }
  #features_row .col-md-6.two {
    padding: 0 !important;
  }
  #custumers_img_col .slide img {
    margin: 0 10px 0 10px !important;
  }
  #iphone_featur_row #text_col2, #iphone_featur_row #text_col1 {
    padding: 0 !important;
  }
  #iphone_featur_row #text_col2 {
    margin: 130px 0 0 !important;
  }
  #card_col {
    height: 300px !important;
    margin: 130px 0 0 !important;
  }
  #footer_menu_row .col-md-6 {
    display: none !important;
  }
  #footer_menu_row .col-md-2 {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  #footer_menu_row #sub_col {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media screen and (max-width: 575px) {
  #header_content_col .iphone6 {
    width: 325px !important;
    height: 365px !important;
  }
  #footer_menu_row .col-md-2 {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  #footer_menu_row .col-md-2 h3 {
    font-size: 18px !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #footer_menu_row .col-md-2 h3 img {
    display: block !important;
  }
  #footer_menu_row .col-md-2 .under_menu {
    display: none !important;
  }
  #footer_menu_row .col-md-2 .under_menu a {
    font-size: 18px !important;
  }
  #footer_menu_row .col-md-2 .under_menu.active {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  #custumers_img_col .slide img {
    width: 80px !important;
    margin: 0 -5px 0 -5px !important;
  }
  #custumers_img_col .slide.main img {
    width: 110px !important;
  }
}

@media screen and (max-width: 400px) {
  #header_content_col {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  #header_content_col h1 {
    font-size: 35px !important;
  }
  #custumers_img_col {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  #custumers_img_col #row_left, #custumers_img_col #row_right {
    display: none !important;
  }
  #custumers_img_col .slide img {
    margin: 0 7px 0 7px !important;
  }
  #features_row .col-md-6.one, #features_row .col-md-6.two {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  #iphone_featur_row #text_col1 {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  #iphone_featur_row #text_col1 h2 {
    margin: 0 0 70px !important;
  }
  #iphone_featur_row #text_col1 .buttone_one {
    width: 180px !important;
  }
  #iphone_featur_row #text_col1 .buttone_one p {
    margin: 0 30px 0 0 !important;
  }
  #iphone_featur_row #text_col2 {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  #iphone_featur_row #text_col2 h2 {
    margin: 0 0 70px !important;
  }
  #iphone_featur_row #text_col2 .patners_area img {
    width: 130px !important;
  }
  #iphone_screens_row_2 #iphone {
    min-width: 252px !important;
    height: 514px !important;
  }
  #iphone_screens_row_2 #iphone img {
    width: 217px !important;
    height: 383px !important;
  }
  #iphone_screens_row_2 .c img {
    width: 252px !important;
    height: 514px !important;
  }
  #ready_to_buy_row .send_id {
    width: 347px !important;
  }
  #fedbacke_col {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  #plan_col {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  #card_col .card1 h1, #card_col .card2 h1 {
    font-size: 20px !important;
  }
  #card_col .card1 button, #card_col .card2 button {
    margin: 10px 0 30px !important;
    width: 50px !important;
  }
  #card_col .card1 button p, #card_col .card2 button p {
    font-size: 13px !important;
  }
  #card_col .card1 h3, #card_col .card2 h3 {
    font-size: 13px !important;
    margin-bottom: 20px !important;
  }
  #card_col .card1 h4, #card_col .card2 h4 {
    font-size: 13px !important;
  }
  #card_col .card1 h4 img, #card_col .card2 h4 img {
    width: 10px !important;
  }
  #card_col .card1, #card_col .card2.active {
    width: 163px !important;
    height: 270px !important;
  }
  #card_col .card1.unactive, #card_col .card2 {
    width: 163px !important;
    height: 236px !important;
  }
  .send_id {
    width: 347px !important;
  }
  #footer_menu_row .col-md-2 {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
/*# sourceMappingURL=style.css.map */