@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
body {
  padding: null;
  margin: 0;
  background-color: #fbfbfb;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

a, p {
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: #26272d;
}

h1, h2, h3, h4 {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  color: #26272d;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

input, textarea {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: #26272d;
  outline: none;
}

header {
  background-image: url("img/header/bacground_sky.png");
  background-position: center;
  background-size: cover;
}

header .navbar #col_burger_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar #col_burger_menu .burger_menu {
  width: 30px;
  height: 16px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  cursor: pointer !important;
  margin-right: 30px;
}

header .navbar #col_burger_menu .burger_menu span {
  width: 100%;
  height: 2.0px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #1b1c1e;
}

header .navbar #col_burger_menu .burger_menu span:nth-of-type(2) {
  top: calc(50% - 6px);
}

header .navbar #col_burger_menu .burger_menu span:nth-of-type(3) {
  top: calc(50% + 6px);
}

header .navbar #col_burger_menu .burger_menu.active span:first-of-type {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

header .navbar #col_burger_menu .burger_menu.active span:nth-of-type(2) {
  top: 50%;
  background-color: #b5b5b6;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

header .navbar #col_burger_menu .burger_menu.active span:nth-of-type(3) {
  top: 50%;
  background-color: #b5b5b6;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

header .navbar #col_burger_menu .menu_left {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: none;
}

header .navbar #col_burger_menu .menu_left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar #col_burger_menu .menu_left ul li {
  margin-right: 40px;
}

header .navbar #col_burger_menu .menu_left ul li a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .navbar #col_burger_menu .menu_left ul li a:hover {
  color: #b5b5b6;
}

header .navbar #col_burger_menu .menu_left ul li a:active {
  color: #b5b5b6;
}

header .navbar #col_burger_menu .menu_left.active {
  display: block;
}

header .navbar #logo_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar #menu_right_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar #menu_right_col ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navbar #menu_right_col ul li {
  margin-left: 40px;
}

header .navbar #menu_right_col ul li a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .navbar #menu_right_col ul li a:hover {
  color: #b5b5b6;
}

header .navbar #menu_right_col ul li a:active {
  color: #b5b5b6;
}

header .navbar #menu_right_col .menu_right_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
  width: 110px;
  height: 40px;
  border-radius: 30px;
  background-color: #267df4;
}

header .navbar #menu_right_col .menu_right_button a {
  width: 100px;
  height: 40px;
  position: absolute;
}

header .navbar #menu_right_col .menu_right_button p {
  margin: 0 0 0 10px;
  color: #ffffff;
}

header .navbar #menu_right_col .menu_right_button img {
  margin: 0 0 3px;
}

header .container-fluid.one .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 120px;
}

header .container-fluid.one .row #header_content_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .container-fluid.one .row #header_content_col h1 {
  font-size: 50px;
}

header .container-fluid.one .row #header_content_col p {
  padding: 40px 0 0 0;
  color: #b5b5b6;
}

header .container-fluid.one .row #header_content_col .header_content_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0 50px;
  width: 150px;
  height: 45px;
  border-radius: 30px;
  border: 1px solid #dadada;
  background-color: #eef0f3;
}

header .container-fluid.one .row #header_content_col .header_content_button a {
  width: 150px;
  height: 45px;
  position: absolute;
}

header .container-fluid.one .row #header_content_col .header_content_button p {
  padding: 0;
  margin: 0 0 0 10px;
  color: #26272d;
}

section #features_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 120px 0 300px;
}

section #features_row .col-md-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 100px;
  margin-top: 120px;
}

section #features_row .col-md-6 img {
  width: 40px;
  margin-bottom: 50px;
}

section #features_row .col-md-6 h3 {
  color: #b5b5b6;
  padding-bottom: 50px;
}

section #features_row .col-md-6 p {
  color: #b5b5b6;
}

section #iphone_featur_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  margin: 0 0 300px;
}

section #iphone_featur_row #background_img_iphone_6 {
  position: absolute;
  left: 0;
  z-index: -2;
  width: 650px;
}

section #iphone_featur_row .col-md-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 100px;
}

section #iphone_featur_row .col-md-6 h2 {
  margin: 0 0 80px;
}

section #iphone_featur_row .col-md-6 p {
  color: #b5b5b6;
  margin: 0 0 80px;
}

section #iphone_featur_row .col-md-6 .button_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section #iphone_featur_row .col-md-6 .button_area .buttone_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30px 0 0;
  background-color: #267df4;
  border-radius: 30px;
  width: 200px;
  height: 40px;
}

section #iphone_featur_row .col-md-6 .button_area .buttone_one p {
  color: #ffffff;
  margin: 0 50px 0 0;
}

section #iphone_featur_row .col-md-6 .button_area .buttone_one a {
  position: absolute;
  width: 200px;
  height: 30px;
}

section #iphone_featur_row .col-md-6 .button_area .buttone_two {
  width: 150px;
  height: 45px;
  border-radius: 30px;
  border: 1px solid #dadada;
  background-color: #eef0f3;
  color: #26272d;
}

section #map_featur_row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 300px;
}

section #map_featur_row .col-md-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 100px;
}

section #map_featur_row .col-md-6 h2 {
  margin: 0 0 80px;
}

section #map_featur_row .col-md-6 p {
  color: #b5b5b6;
  margin: 0 0 80px;
}

section #map_featur_row .col-md-6 .patners_area img {
  margin: 0 30px 0 0;
}

section #map_featur_row #img_map {
  position: absolute;
  right: 0;
  width: 50%;
  z-index: -2;
}

section #iphone_screens_row_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section #iphone_screens_row_1 .col-md-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section #iphone_screens_row_1 .col-md-6 h2 {
  padding: 0 0 25px;
}

section #iphone_screens_row_1 .col-md-6 span {
  width: 55px;
  height: 2px;
  background-color: #267df4;
  margin: 0 0 25px;
}

section #iphone_screens_row_1 .col-md-6 P {
  color: #b5b5b6;
  padding: 0 0 25px;
}

section #iphone_screens_row_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 200px;
}

section #iphone_screens_row_2 .col-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: scroll;
  width: auto;
}

section #iphone_screens_row_2 .col-12 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  margin: 0 60px 0 60px;
}

section #iphone_screens_row_2 .col-12 #iphone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 304px;
  height: 621px;
  background-image: url("img/section/iPhone.png");
  background-position: center;
  background-size: cover;
}

section #iphone_screens_row_2 .col-12 #iphone img {
  -webkit-box-shadow: none;
          box-shadow: none;
}

section #iphone_screens_row_2 .col-12 .screenImg {
  width: 260px;
  height: 455px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-box-shadow: 4px 4px 22px 0px rgba(34, 60, 80, 0.11);
          box-shadow: 4px 4px 22px 0px rgba(34, 60, 80, 0.11);
}

section #iphone_screens_row_2 .col-12::-webkit-scrollbar {
  width: 0;
}

section #ready_to_buy_row .col-md-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section #ready_to_buy_row #send_id_col {
  margin: 40px 0 40px;
}

section #ready_to_buy_row #send_id_col .send_id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #b5b5b6;
  border-radius: 30px;
  padding: 7px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 370px;
}

section #ready_to_buy_row #send_id_col .send_id input {
  margin-left: 10px;
  background-color: #fbfbfb;
  border: none;
}

section #ready_to_buy_row #send_id_col .send_id button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 45px;
  border-radius: 30px;
  border: none;
  background-color: #6fc754;
}

section #ready_to_buy_row #send_id_col .send_id button p {
  padding: 0;
  margin: 0 15px 0 0;
  color: #ffffff;
}

section #App_store_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section #App_store_col h4 {
  font-size: 14px;
  margin: 0 0 20px;
  color: #b5b5b6;
}

section #App_store_col button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 20px 10px 20px;
  margin: 0 0 10px;
  border: none;
  border-radius: 30px;
  background-color: #26272d;
}

section #App_store_col button img {
  margin: 0 15px 0 0;
}

section #App_store_col button .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section #App_store_col button .text p, section #App_store_col button .text h3 {
  color: #ffffff;
  margin: 0;
}

section #App_store_col button .text p {
  font-size: 10px;
}

section #App_store_col button .text h3 {
  font-size: 16px;
}

section #custumers_row #custumers_img_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 300px;
}

section #custumers_row #custumers_img_col #row_left, section #custumers_row #custumers_img_col #row_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background-color: #fbfbfb;
}

section #custumers_row #custumers_img_col .sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section #custumers_row #custumers_img_col .sliders .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section #custumers_row #custumers_img_col .sliders .slide img {
  opacity: 0.2;
  width: 110px;
  margin: 0 60px 0 60px;
}

section #custumers_row #custumers_img_col .sliders .slide.main img {
  opacity: 1;
  width: 150px;
}

section #custumers_row #fedbacke_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 60px;
}

section #custumers_row #fedbacke_col p {
  font-size: 30px;
  margin-bottom: 40px;
}

section #custumers_row #fedbacke_col h3 {
  margin-bottom: 30px;
  font-size: 16px;
  color: #b5b5b6;
}

section #custumers_row #fedbacke_col h4 {
  font-size: 12px;
}

section #plan_row {
  margin: 300px 0 0;
}

section #plan_row #plan_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section #plan_row #plan_col h1 {
  margin: 0 0 80px;
}

section #plan_row #plan_col .area_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section #plan_row #plan_col .area_button h1 {
  font-size: 14px;
  margin: 0 0 10px;
}

section #plan_row #plan_col h3 {
  font-size: 20px;
  color: #b5b5b6;
}

section #plan_row #plan_col P {
  margin: 40px 0 0;
  color: #b5b5b6;
}

section #plan_row #plan_col P a {
  color: #267df4;
}

section #plan_row #card_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section #plan_row #card_col .card1, section #plan_row #card_col .card2 {
  width: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  text-align: center;
}

section #plan_row #card_col .card1 h1, section #plan_row #card_col .card2 h1 {
  font-size: 27px;
  font-weight: 400;
}

section #plan_row #card_col .card1 button, section #plan_row #card_col .card2 button {
  width: 65px;
  height: 27px;
  border-radius: 40px;
  background-color: none;
  border: 1px solid #b5b5b6;
  margin: 31px 0 80px;
}

section #plan_row #card_col .card1 button p, section #plan_row #card_col .card2 button p {
  font-size: 14px;
  margin: 0;
}

section #plan_row #card_col .card1 h3, section #plan_row #card_col .card2 h3 {
  font-size: 20px;
  color: #b5b5b6;
  margin: 0 0 50px;
}

section #plan_row #card_col .card1 h4, section #plan_row #card_col .card2 h4 {
  font-size: 14px;
}

section #plan_row #card_col .card1, section #plan_row #card_col .card2.active {
  background-color: #ffffff;
  -webkit-box-shadow: 13px 10px 33px 3px rgba(34, 60, 80, 0.14);
          box-shadow: 13px 10px 33px 3px rgba(34, 60, 80, 0.14);
  height: 550px;
}

section #plan_row #card_col .card1.unactive, section #plan_row #card_col .card2 {
  background-color: #ebebed;
  height: 500px;
  z-index: -1;
}

section #plan_row #card_col .card2.active {
  background-color: #ffffff;
  -webkit-box-shadow: 13px 10px 33px 3px rgba(34, 60, 80, 0.14);
          box-shadow: 13px 10px 33px 3px rgba(34, 60, 80, 0.14);
  height: 550px;
}
/*# sourceMappingURL=style.css.map */